.root{
    -fx-background-color: #5f6060;
}
Circle{
    -fx-fill: #7e7e7e;
}
.pickyourparty{
    -fx-alignment: center;
}
.hb1{
    -fx-alignment: center;
}
.bcom{
    -fx-background-color: linear-gradient(#dc9556, #ab4642);
}