Field{
    -fx-background-color: #4CAF50; /* Green */
    /*-fx-border: none;*/
    -fx-color: white;
    -fx-padding: 0px 12px;
    -fx-width: 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
}